@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

:root{
    --main-bg-color:rgb(223, 133, 105);
    --font-1: 'Baloo Bhaina 2',cursive;
    --font-2: 'Roboto', sans-serif;
    --font-3: 'Ubuntu', sans-serif;
}
.font-1{
    font-family: var(--font-1);
}
.font-2{
    font-family: var(--font-2);
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.m-y-2{
   margin-top: 32px;
   margin-bottom: 32px;
}
.btn{
    padding: 3px 18px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font-1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background: var(--main-bg-color);
}
.form-input{
    padding: 0px 5px;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 4px;
    font-family: var(--font-1);
}
